apt-get install -y \
python-pip
python-pip3

pip install \
https://github.com/namshi/python-namutil/archive/master.zip \
https://github.com/hzarka/python-zendesk/archive/master.zip \
pyshorteners \
gspread \
oauth2client \
boto \
python-yaml \
sqlalchemy \
dropbox

pip3 install \
https://github.com/namshi/python-namutil/archive/master.zip \
gspread \
hirlite \
pyshorteners \
graypy \
mysqlclient \
oauth2client \
boto==2.28.0 \
python3-yaml \
sqlalchemy \
dropbox
